/*GENERAL STYLING*/

/*IMPORTING GOOGLE FONT POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Poppins, sans-serif;

}

html {
    scroll-behavior: smooth;
}

p{
    color:rgb(85,85,85)
}

/*TRANSITIONS*/
a, .btn{
    transition: all 300ms ease;
}

/*DESKTOP NAVBAR*/
nav, .navbar-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; /*17% of the viewport height*/
}

.navbar-links{
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;/*removes the bullet points*/
}

a {
    color:black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color:grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/*HAMBURGER MENU*/
#hamburger-nav{
    display: none;/*so if in desktop, hamburger menu is not displayed*/
}

.hamburger-menu{
    position:relative;/*so that the hamburger menu is positioned relative to the parent element*/
    display: inline-block;/*so that the hamburger menu is displayed as an inline element*/
}

.hamburger-icon{
    display:flex;/*so that the hamburger icon is displayed as a flex element*/
    flex-direction:column;/*so that the hamburger icon is displayed as a column*/
    justify-content: space-between;
    height:24px;
    width:30px;
    cursor:pointer;
}

.hamburger-icon span {
    width:100%;
    height:2px;
    background-color:black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position:absolute;
    top: 100%;
    right:0;
    background-color: white;
    width: fit-content;
    max-height:0;
    overflow:hidden;
    transition: all 0.3s ease-in-out;

}

.menu-links a {
    display:block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform:rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform:rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child{
    transform:none;
}

.hamburger-icon span:first-child{
    opacity:1;
}
.hamburger-icon span:first-child{
    transform:none;
}

/*SECTIONS*/

section {
    padding-top: 4vh;
    height:96vh;
    margin: 0 10 rem;
    box-sizing: border-box;
    min-height:fit-content;
}


.section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
/*PROFILE SECTION*/
#profile {
    display:flex;
    justify-content: center;
    gap: 5rem; /*5rem gap between the image and the text*/
    height: 80vh;/*80% of the viewport height*/
}

.section__pic-container {
    display: flex;
    width:400px;
    height: 400px;
    margin:auto 0;
   
}

.section__pic {
    height: 400px;
    width:400px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the element */
}
.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight:600;
}

.section__text__p1{
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align:center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/*ICONS*/   

.icon {
    cursor: pointer;
    height: 2rem;
}

/*BUTTONS*/
.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

/*btn-colour-2 white background, black text, change to black background, white text on hover*/

.btn-colour-1, .btn-colour-2 {
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-colour-1:hover, .btn-colour-2:hover {
    cursor: pointer;
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-colour-1 {
    background: rgb(53,53,53);
    color:white;
}

.btn-colour-1:hover, .btn-colour-2:hover{
    color:rgb(255,255,255);
    background-color: grey;
}

.btn-colour-2 {
    background:none;
}

/*.btn-colour-2:hover{
    border: rgb(0,0,0) 0.1rem solid;
    background-color: rgb(0,0,0);
    color:white
}*/

.btn-container{
    gap:1rem;
}

/*ABOUT SECTION*/
/*#about {
    position: relative;
}
.about-containers{
    gap:2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-containers, .about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position:absolute;
    right: -5rem;
    bottom: 2.5 rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align:center;
}
*/
/*ABOUT SECTION*/
#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
.about-pic {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
}

.about-details-container {
    flex: 1;
}


.about-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details-containers {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.details-containers img {
    margin-bottom: 1rem;
}

.details-containers h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.details-containers p {
    font-size: 1rem;
    color: rgb(85, 85, 85);
}
/**/
.details-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.details-container ul li {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}
/**/
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.text-container {
    margin-top: 2rem;
    text-align: center;
}

.text-container p {
    font-size: 1.2rem;
}

.gallery-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 400px; /* Adjust height as needed */
}

.gallery-container img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery-container img.active {
    opacity: 1;
}
/*.section-container{
    display:flex;
    align-items:center;
    gap: 4rem;
    height:80%;
}*/

.section__pic-container{
    height: 400px;
    width:400px;
    margin:auto 0;
}

/*EXPERIENCE SECTION*/
#experience{
    position: relative;
}

.experience-sub-title{
    color:rgb(85,85,85);
    font-weight: 600;
    font-size:1.75rem;
    margin-bottom:2rem;
}

.experience-details-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.article-container{
    display:flex;
    text-align:initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap:2.5rem;
    justify-content: space-around;
}



article{
    display:flex;
    width:10rem;
    justify-content: space-around;
    gap:0.5rem;
}

article .icon{
    cursor: default;
}


/*PROJECTS SECTION*/
#projects{
    position: relative;
}
.color-container{
    border-color: rgb(163,163,163);
    background:rgb(250,250,250);
}

.project-img{
    border-radius: 2rem;
    width:90%;
    height:90%;
}

.project-title {
    margin: 1rem;
    color:black;
}

.project-btn{
    color:white;
    border-color:rgb(163,163,163);
    margin-bottom: 20px; 
}

/*CONTACT */
#contact{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:70vh;
}

.contact-info-upper-container{
    display:flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon {
    cursor:default;

}

.email-icon{
    height:2.5rem;
}

/*FOOTER*/
footer{
    height:26vh
    margin 0 1rem;
}

footer p {
    text-align:center;
}

.nav-links{
    list-style: none;
    display:flex;
    justify-content: space-between;
}
.nav-links li {
    margin-right: 20px;
}

.details-container.color-container {
    border: 1px solid black;
    border-radius:10px;
    margin-bottom: 10px;
}

.image-project{
    margin-top: 10px;
    width:400px;
    height:300px;
    
}

